body {
  background-image: url('http://www.rmstipl.com/img/1.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

p{
  font-size: 80px;
  color: white;
  text-align: center;
}

b{
  color: dodgerblue;
}